<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8"/>
    <title>HTML Forms Demo</title>
</head>

<body>
  <header>
      <h1>SI 507 Final Project Presentation</h1>
      <h2>Guanghan Xi</h2>
  </header>
  <main>
      <h2>Please Choose the Presenation You Want to See</h2>
      <ol>
          <li><a href='/state'>Find Best Buy and Apple Stores in a County</a></li>
          <li><a href='/percentage'>How Much Counties Have Both Apple and Best Buy</a></li>
          <li><a href='/bestbuy_county'>Where Does Best Buy Tend to Open Stores</a></li>
          <li><a href='/apple_county'>Where Does Apple Tend to Open Stores</a></li>
          <li><a href='/distribution'>Overall Distribution of Best Buy Stores and Apple Stores</a></li>
      </ol>
  </main>
</body>

</html>