<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF8"/>
    <title>County and {{context[0]}}</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
</head>
<body>
    <header>
        <h1>Which Counties {{context[0]}} Tend to Open Stores in</h1>
    </header>
    <main>
        <div>
            <img src = '{{image}}' alt = 'bestbuy and county' />
        </div>
        <p>{{context[1]}}</p>
        <p>{{context[2]}}</p>
        <p>{{context[3]}}</p>
        <a href='/'>Back to Choose Another Presentation</a>
    </main>
</body>
</html>